.footer {
    height: auto;
    width: 100%;
    background-color: #262626;
    color: #fff;

    h2 {
        padding-top: 20px;
    }

    p {
        margin-top: 20px;
        color: #fff;
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    .lines {
        padding-bottom: 20px;
    }
     .links {
        color: #00cf45;
     }
}